.amazing {
  padding-top: 50px;
}

@media (max-width: 1200px) {
  .amazing {
    padding-top: 58px;
  }
}

.amazing__card {
  margin: 0 15px;
  display: flex;
  margin-bottom: 70px;
  margin-top: 70px;
}

.amazing__card-img {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  align-self: flex-start;
}

@media (max-width: 1200px) {
  .amazing__card-img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .amazing__card-img {
    width: 57px;
    height: 57px;
  }
}

.amazing__info {
  margin-left: 30px;
}

@media (max-width: 1200px) {
  .amazing__info {
    margin-left: 28px;
  }
}

@media (max-width: 768px) {
  .amazing__info {
    margin-left: 20px;
  }
}

.amazing__card-name {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--primary-color);
  padding: 15px 0;
}

@media (max-width: 1200px) {
  .amazing__card-name {
    font-size: 18px;
    padding: 13px 0;
  }
}

.amazing__card-desc {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: var(--primary-color);
}

@media (max-width: 1200px) {
  .amazing__card-desc {
    font-size: 14px;
  }
}
