.design {
    position: relative;
    padding-top: 42px;
    padding-bottom: 57px;
    background: url('../images/dist/design/bg-design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.design::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 0;
}

.design__head {
    position: relative;
}

.design__images-wrap {
    position: relative;
    margin: 0 auto;
    max-width: 660px;
}

.design__phone-img {
    position: absolute;
    right: -50px;
    bottom: -98px;
    height: auto;
}