.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 999;
}

.header_has-bg {
  background: var(--accent-color);
}

.header__inner {
  display: flex;
  align-items: center;
}


.header__logo-link {
  z-index: 1;
}

.header__burger {
  display: none;
}

@media (max-width: 768px) {
  .header__burger {
    display: flex;
    margin-left: auto;
  }
}

.header__nav {
  margin-left: auto;
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__nav_opened {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
        360deg,
        rgba(237, 215, 137, 0.9) 0%,
        rgba(233, 130, 131, 0.9) 100%
      ),
      url("../images/dist/promobg.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center center;
  }
}

.header__buy {
  display: flex;
}

@media (max-width: 768px) {
  .header__buy {
    display: none;
  }
}

.header__buy-img {
  width: 20px;
  height: 20px;
  margin-right: 40px;
}

.header__buy-img:last-child {
  margin-right: 0;
}

.header__menu {
  display: flex;
  list-style: none;
}

@media (max-width: 768px) {
  .header__menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.header__menu-item {
  margin-right: 40px;
}

@media (max-width: 768px) {
  .header__menu-item {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.header__menu-item_active .header__menu-link {
  color: #f4bf87;
  position: relative;
}

.header__menu-item_active .header__menu-link::after {
  content: "";
  position: absolute;
  background: #f4bf87;
  width: 150%;
  height: 3px;
  bottom: -5px;
  left: 50%;
  transform: translatex(-50%);
}

.header__menu-link {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 0.5s ease 0s;
}

.header__menu-link:hover {
  color: #f4bf87;
}
