.latest__blog {
  position: relative;
  background: url("../images/dist/latest_blog/bg_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 0;
  }

  &-img {
    position: relative;
  }

  &-title {
    position: relative;
    color: var(--accent-color);
    @include breakpoint(xl) {
      font-size: 24px;
    }
  }
}
