.partners {
  padding: 50px 0px;
  background-color: #f8f8f8;
}
.partners__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partners__img {
  width: 70px;
  height: 70px;
  align-self: center;
}

@media (max-width: 1200px) {
  .partners__img {
    width: 65px;
    height: 65px;
  }
}

@media (max-width: 768px) {
  .partners__img {
    width: 50px;
    height: 50px;
  }
}