.partners {
  padding: 50px 0px;
  background-color: #f8f8f8;
}
.partners__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partners__img {
  width: 127px;
  height: 127px;
}

.partners__img_small {
  width: 70px;
  height: 70px;
  align-self: center;
}
