.service {
  padding: 50px 0px 114px 0px;

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: var(--primary-color);
    text-align: center;
    padding-bottom: 58px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  @include breakpoint(md) {
    .service__card-img {
      margin-bottom: 30px;
    }
  }

  // Accordion

  &__accordion-item {
    margin-bottom: 22px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
  }

  &__accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 18px;
    color: #fff;
    font-weight: 500;
    border: 1px solid #c6cbcd;
    cursor: pointer;
    transition: background-color 0.2s ease-out;

    @include breakpoint(xl) {
      padding: 20px 18px;
    }
  }

  &__accordion-header::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    color: #c6cbcd;
    background-image: url("../images/dist/service/arrow_down.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    transition: transform 0.2s ease-out;
  }

  &__accordion-header-img {
    width: 42px;
    height: 42px;

    @include breakpoint(xl) {
      width: 35px;
      height: 35px;
    }
  }

  &__accordion-header-text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-left: 40px;

    @include breakpoint(xl) {
      font-size: 18px;
      margin-left: 30px;
    }
  }

  .service__accordion-item_show .service__accordion-header::after,
  .service__accordion-item_slidedown .service__accordion-header::after {
    transform: rotate(-180deg);
  }

  &__accordion-header:hover {
    background-color: #eaeff1;
  }

  .service__accordion-content {
    padding: 0.75rem 1rem;
    background: #fff;
    border: 1px solid #c6cbcd;
    max-height: 155px;
    overflow-y: scroll;
  }

  &__accordion-content::-webkit-scrollbar {
    width: 7px;
  }

  &__accordion-content::-webkit-scrollbar-track {
    background: #f5f5f5;
  }

  &__accordion-content::-webkit-scrollbar-thumb {
    background: #95e1d3;
  }

  .service__accordion-item:not(.service__accordion-item_show)
    .service__accordion-body {
    display: none;
  }
}
